body {
    margin-top: 0.1vh; 
}

.wrap {
    width: 80vw;
    height: 90vh;
    margin: 0 auto;
}
.wrap > h2 { font-size: 2vw; }
.wrap > p {font-size: 1vw; }

.responsive-box {
    background: url(img/tea_snack.JPEG) no-repeat;
    background-size: contain;
    background-position: center top;
    background-attachment: local;

    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.responsive-box > p { 
    margin-block-start: 0.5vw; 
    margin-block-end: 0; 
}
.responsive-box .width-text { 
    color: white; 
    font-size: 2vw; 
    font-weight: 900;
}
